@font-face {
  font-family: "Raleway";
  src: url("../Raleway/Raleway-VariableFont_wght.ttf");
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway;
}

body {
  margin: auto;
  border: 1px solid black;
  margin-bottom: 60px;
  background-color: #fbfcff;
}
