footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #1c6e8c;
}

.navigation {
  display: flex;
  bottom: 0;
  justify-content: space-around;
  margin: 10px;
}

.navigation a:hover {
  text-decoration: underline;
  color: #605856;
}

.navigation__QuestionSite {
  width: 30px;
  margin: 5px;
}

.navigation__QuestionSite--highlighted {
  border: 2px solid white;
  border-radius: 20px;
  width: 35px;
}

.navigation__BookmarkSite {
  width: 20px;
  margin: 5px;
}

.navigation__BookmarkSite--highlighted {
  border: 2px solid white;
  width: 25px;
  margin: 3px;
}

.navigation__newCardSite {
  width: 30px;
  margin: 5px;
}

.navigation__newCardSite--highlighted {
  border: 2px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.navigation__ProfileSite {
  width: 25px;
  margin: 5px;
}

.navigation__ProfileSite--highlighted {
  border: 2px solid white;
  width: 25px;
  margin: 3px;
}
