.quizcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 2px solid black;
  margin: 20px;
  border-radius: 5px;
}

.quizcard__tags {
  display: flex;
  list-style-type: none;
  position: absolute;
  left: 5px;
  bottom: 5px;
  gap: 3px;
}

.quizcard__tag-item {
  padding: 1px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #e7e6e7;
  padding: 2px;
}

.quizcard__question {
  margin: 20px;
}

.quizcard__answerButton {
  margin: 20px 20px 50px 20px;
  padding: 5px;
  background-color: #274156;
  color: #fbfcff;
  border-radius: 5px;
}

.quizcard__answerButton:hover {
  cursor: pointer;
  background-color: #fbfcff;
  color: #274156;
}

.quizcard__bookmarkUnfilled {
  border: none;
}

.quizcard__bookmarkUnfilled:hover {
  cursor: pointer;
}

.quizcard__bookmarkFilled {
  width: 40px;
  position: absolute;
  top: -8px;
  right: 0px;
}

.quizcard__answer {
  margin: 0px 20px 50px 20px;
}

.quizcard__answer-hide {
  display: none;
}

.quizcard__bookmarkUnfilled {
  width: 40px;
  position: absolute;
  top: -8px;
  right: 0px;
}

.fa-bookmark {
  font-size: 2rem;
  position: absolute;
  top: -8px;
  right: 0px;
}
